* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat';
    color: black;
}

html, 
body {
    background-color: #282a36;
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    padding-top: 1rem;
}

.user {
    width: 250px;
    height: 30px;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 1px;

    text-align: center;
}

.search {
    width: 100px;
    height: 30px;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 1px;

    margin-top: 1rem;

    background-color: #7159C1;
    cursor: pointer;

    transition: background 0.5s;
}

.repo-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #eaeaea;
    text-decoration: none;
}


.repo-list * {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #EAEAEA;
    text-decoration: none;

    transition: 0.5s;
}

.repo-list *:hover {
    color: #50fa7b;
}