* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu';
    color: black;
}

html, 
body {
    background-color: #282a36;
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    padding-top: 1rem;
}

.user {
    width: 200px;
    height: 30px;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 1px;

    text-align: center;
}

.search {
    width: 100px;
    height: 30px;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 1px;

    margin-top: 1rem;

    background-color: #ff79c6;
    cursor: pointer;

    transition: color 0.2s;
}

.search:hover {
    background-color: #ff2ec7;
}


.repo-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #eaeaea;
    text-decoration: none;
}


.repo-list * {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffb86c;
    text-decoration: none;
}

.repo-list *:hover {
    color: #ff9729;
}